.App-footer {
    text-align: center;
    margin: 30px 0;
}
.App-header {
  margin: 30px 0;
}
.App-logo {
  display: block;
  margin: 0 auto;
 max-height: 250px;
}
body {
background:#90BBB4;
}

a {
  color: rgb(9, 0, 128);
}