.Synonyms {
  margin: 10px 0;
}

.Synonyms strong {
  font-weight: bold;
}

.Synonyms ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Synonyms li {
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1.5;
}